.hello {
  border-radius: 50px;
  border: 2px solid #fff;
  background: radial-gradient(
    107.32% 141.42% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: -5px -5px 250px 0px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(21px);
}

.typo {
  color: #fff;
  font-family: Inter;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 144px */
  letter-spacing: -6px;
}
